  <div id = "welcome">Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
	<div id="information">Click video in corner or press "Shift+Enter" to expand and record an emotion!</div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="topDiv" class="opaque_div div_small"></div>
  <div id="bottomDiv" class="opaque_div div_small"></div>
  <div id="webcam_stream" class="webcam_small"></div>
  <div id="video_container"></div>